<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartLearn</title>
    <link rel="stylesheet" href="/assets/fontawesome/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">

            <div class="logo">
                <a href="/"><img src="/assets/image/SmartLearn.png" alt="Logo da Plataforma de Cursos"></a>
            </div>
            
            <ul class="nav-links">
                <li><a href="#"><i class="fa-solid fa-bars"></i>Categorias</a></li>
                <input type="text" placeholder="Pesquisar cursos...">
                <li><a href="#">Conecte-se</a></li>
                <li><a href="#" class="btn">Inscrever-se</a></li>
            <ul>
        </nav>
    </header>

    <div id="content">
        <!-- O conteúdo das páginas será inserido aqui -->
        <!--<?php echo $content; ?>-->
    </div>

    
</body>
</html>
