<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLearn</title>
    <link
      rel="stylesheet"
      href="/assets/fontawesome/fontawesome/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style_user.css" />
    <link rel="stylesheet" href="/assets/css/style_perfil_conta.css" />
  </head>
  <body>
    <!-- Cabeçalho -->
    <header>
      <div class="container">
        <nav>
          <div class="nav-left">
            <div class="logo">
              <a href="layout_base.html"><img src="/assets/image/Logo.png" alt="Logo" /></a>
              <span class="brand-name">SmartLearn</span>
            </div>
            <ul class="nav-links">
              <li>
                <a href="#" class="nav-item">
                  <i class="fas fa-bars"></i> Categorias
                </a>
              </li>
              <li>
                <input
                  type="text"
                  placeholder="Pesquisar cursos..."
                  class="search-input"
                />
              </li>
            </ul>
          </div>
          <div class="nav-right">
            <ul class="nav-links">
                <li>
                    <a href="#" class="nav-item">
                        Tutorial
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-item">
                        Meus Cursos
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-item">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                <li>
                    <a href="/src/registo.php" class="nav-item">
                        <i class="fa-regular fa-circle-user"></i>
                    </a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- Secção Principal (Hero) -->
    <div class="banner"></div>
    <main class="container-perfil">
      <aside class="sidebar">
        <div class="user-info">
            <div class="avatar">
                <img src="/assets/image/User.png" alt="Erro">
            </div>
            <div class="user-details">
                <p>Teste de Silva</p>
                <p>Teste@gmail.com</p>
            </div>
        </div>

        <ul class="menu">
            <li><i class="fa-solid fa-book"></i> Meus Cursos</li>
            <li><i class="fa-solid fa-heart"></i> Minha Lista de Desejos</li>
            <li><i class="fa-solid fa-clock"></i> Histórico de Compras</li>
            <li><i class="fa-solid fa-user"></i> Perfil de utilizador</li>
            <li><i class="fa-solid fa-gear"></i> Conta</li>
            <li><i class="fa-solid fa-wallet"></i> Carteira</li>
        </ul>

        <button class="logout">Sair</button>
      </aside>

      <section class="content">
        <div class="form-container">
            <h2>Informação da Conta</h2>
            <p>Edição da tua conta</p>
            <div class="divider"></div>
            <div class="from-group">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Teste@gmail.com" required />
            </div>
            <div class="divider"></div>
            <div class="from-group-conta">
                <label for="old-password">Password antiga</label>
                <div class="input-wrapper">
                    <span class="icon-square"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" placeholder="Digite sua senha antiga" id="old-password">
                </div>
            </div>
            <div class="from-group-conta">
                <label for="new-password">Nova password</label>
                <div class="input-wrapper">
                    <span class="icon-square"><i class="fa-solid fa-key"></i></span>
                    <input type="password" placeholder="Digite sua nova senha" id="new-password">
                </div>
            </div>
            <div class="from-group-conta">
                <label for="confirm-password">Confirmação password</label>
                <div class="input-wrapper">
                    <span class="icon-square"><i class="fa-solid fa-check"></i></span>
                    <input type="password" placeholder="Confirme sua nova senha" id="confirm-password">
                </div>
            </div>
            <div class="submit-button">
                <button>
                    <span><i class="fa-solid fa-floppy-disk"></i></span> Guardar
                </button>
            </div>
        </div>
        
      </section>
    </main>

    <!-- Rodapé -->
  <footer class="footer">
    <div class="footer-map">
        <!-- Aqui podes adicionar um iframe com o Google Maps -->
        <iframe src="https://g.co/kgs/bK5fDXa"
                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="container footer-content">
        <p>2025 Copyright by Leando Pinto e Ruben Pinheiro</p>
        <p>Castelo Branco – Rua Esperança – 6200-000</p>
        <p>Email: teste@gmail.com | Telefone: 255 777 222 | Fax: 966 662 222</p>
        <p>Privacy Policy | Terms & Conditions</p>
      </div>
  </footer>
  </body>
</html>
