<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Site em Manutenção</title>
    <link rel="stylesheet" href="/assets/css/style_manutencao.css" />
    <link rel="stylesheet" href="/assets/fontawesome/fontawesome/css/all.min.css" />
  </head>
  <body>
    <div class="background">
      <div class="shape square"></div>
      <div class="shape circle"></div>
      <div class="shape triangle"></div>
      <div class="shape rectangle"></div>
    </div>

    <div class="container">
      <div class="content">
        <i class="fas fa-tools icon animated-icon"></i>
        <h1>Estamos em Manutenção</h1>
        <p>Estamos a melhorar o nosso site.<br>Volta em breve!</p>
        <button class="novamente">Tentar Novamente</button>
      </div>
    </div>
  </body>
</html>
