<header>
    <div class="container-admin">
      <nav>
        <div class="nav-left">
          <div class="logo">
            <a href="layout_base.html"><img src="../../assets/image/Logo.png" alt="Nao encontrado" /></a>
            <span class="brand-name">SmartLearn</span>
          </div>
          <ul class="nav-links">
            <li>
              <button class="back-button">Voltar ao site</button>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <ul class="nav-links">
              <div class="avatar">
                  <img src="../../assets/image/Admin.png" alt="Avatar" class="avatar-image" />
              </div>
              <div class="profile-info">
                  <p>Administrador de Sistema</p>
                  <p class="Name">Administrador LePinh</p>
              </div>
          </ul>
        </div>
      </nav>
    </div>
  </header>