<header>
    <div class="container">
        <nav>
            <div class="nav-left">
                <div class="logo">
                    <a href="../../public/inicio.php"><img src="../../assets/image/Logo.png" alt="Logo" /></a>
                    <span class="brand-name">SmartLearn</span>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="../../public/categorias.php" class="nav-item">
                            Categorias
                        </a>
                    </li>
                    <li>
                        <input type="text" placeholder="Pesquisar cursos..." class="search-input" id="searchInput" />
                    </li>

                    <script>
                        document.getElementById('searchInput').addEventListener('keypress', function (e) {
                            if (e.key === 'Enter') {
                                e.preventDefault(); 
                                const searchValue = e.target.value.trim();
                                if (searchValue) {
                                    window.location.href = `../public/categorias.php?search=${encodeURIComponent(searchValue)}`;
                                }
                            }
                        });
                    </script>

                </ul>
            </div>
            <div class="nav-right">
                <ul class="nav-links">
                    <li><a href="../../public/tutorial.php" class="nav-item">Tutorial</a></li>
                    <li><a href="../../public/perfil/perfil_cursos.php" class="nav-item">Meus Cursos</a></li>
                    <li><a href="../../public/perfil/perfil_favoritos.php" class="nav-item"><i
                                class="fa-regular fa-heart"></i></a></li>
                    <li><a href="../../public/carrinho/carrinho.php" class="nav-item"><i
                                class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="../../public/perfil/perfil_cursos.php" class="nav-item"><i
                                class="fa-regular fa-circle-user"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>