<footer class="footer">
  <div class="footer-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.2436822254486!2d-7.494457084645095!3d39.82325817944533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ebd8dd4637c0f%3A0x4e054bf8c8ec9d71!2sCastelo%20Branco!5e0!3m2!1spt-PT!2spt!4v1686012345678!5m2!1spt-PT!2spt"
      width="100%" height="300" frameborder="0"
      style="border:0; border-radius:12px; margin-bottom:10px; width:90%; display:block; margin-left:auto; margin-right:auto;"
      allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <?php
$sql = "
    SELECT 
        Cidade, 
        Endereco, 
        Emails, 
        Contactos 
    FROM 
        configuracoes_site 
    WHERE 
        Id_configuracao = 1
";

$result = $conn->query($sql);

if ($result->num_rows > 0) {
    $rowRodape = $result->fetch_assoc();
echo'
  </div>
  <div class="container footer-cards">
    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <h3>Localização</h3>
      <p>'.$rowRodape['Cidade'].'<br />'.$rowRodape['Endereco'].'</p>
    </div>

    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-envelope"></i>
      </div>
      <h3>Email</h3>
      <p>';
        $emails = explode(";", $rowRodape['Emails']);
foreach ($emails as $email) {
    $email = trim($email);
    if (!empty($email)) {
        echo '<a href="mailto:' . htmlspecialchars($email) . '">' . htmlspecialchars($email) . '</a><br />';
    }
}
echo'
      </p>
    </div>

    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-phone-alt"></i>
      </div>
      <h3>Contacto</h3>
      <p>
      ';
      $contactos = explode(";", $rowRodape['Contactos']);
$contador = 1;
foreach ($contactos as $contacto) {
    $contacto = trim($contacto);
    if (!empty($contacto)) {
        echo 'Contacto ' . $contador . ': ' . htmlspecialchars($contacto) . '<br />';
        $contador++;
    }
}
echo'</p>
    </div>
    ';
  }
  ?>
  <div class="footer-card">
    <div class="icon-container">
      <i class="fas fa-comment-dots"></i>
    </div>
    <h3>Formulário de Satisfação</h3>
    <p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQm_121Zk7IyPpWnUztOW0Pc7ERAEn1jIlXMpNkv36eWB2og/viewform?usp=dialog"
        target="_blank" rel="noopener noreferrer">
        Deixa a tua opinião aqui
      </a>
    </p>
  </div>

  </div>
  <div class="footer-bottom">
    <p>
      <a href="../public/politica.php">Política de Privacidade</a> | <a href="../public/politicaCookies.php">Termos &
        Condições</a>
    </p>
    <p>© 2025 Leandro Pinto & Rúben Pinheiro</p>
  </div>
</footer>