<footer class="footer">
  <div class="footer-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.2436822254486!2d-7.494457084645095!3d39.82325817944533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ebd8dd4637c0f%3A0x4e054bf8c8ec9d71!2sCastelo%20Branco!5e0!3m2!1spt-PT!2spt!4v1686012345678!5m2!1spt-PT!2spt"
    width="100%"
    height="300"
    frameborder="0"
    style="border:0; border-radius:12px; margin-bottom:10px; width:90%; display:block; margin-left:auto; margin-right:auto;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</div>

  </div>
  <div class="container footer-cards">
    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <h3>Localização</h3>
      <p>Castelo Branco<br />Rua Esperança, 6200-000</p>
    </div>

    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-envelope"></i>
      </div>
      <h3>Email</h3>
      <p>
        <a href="mailto:leandro.pinto@ipcbcampus.pt"
          >leandro.pinto@ipcbcampus.pt</a
        ><br />
        <a href="mailto:ruben.pinheiro@ipcbcampus.pt"
          >ruben.pinheiro@ipcbcampus.pt</a
        >
      </p>
    </div>

    <div class="footer-card">
      <div class="icon-container">
        <i class="fas fa-phone-alt"></i>
      </div>
      <h3>Contacto</h3>
      <p>Telefone: 999 999 999<br />Telemovel: 999 999 989</p>
    </div>

    <div class="footer-card">
  <div class="icon-container">
    <i class="fas fa-comment-dots"></i>
  </div>
  <h3>Formulário de Satisfação</h3>
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQm_121Zk7IyPpWnUztOW0Pc7ERAEn1jIlXMpNkv36eWB2og/viewform?usp=dialog" target="_blank" rel="noopener noreferrer">
      Deixa a tua opinião aqui
    </a>
  </p>
</div>

  </div>
  <div class="footer-bottom">
    <p>
        <a href="../public/politica.php">Política de Privacidade</a> | <a href="#"
          >Termos & Condições</a
        >
      </p>
    <p>© 2025 Leandro Pinto & Rúben Pinheiro</p>
  </div>
</footer>
